* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Neue Haas Grotesk Display Pro", sans-serif;
}
li {
  list-style: none;
}
.root {
  width: 100vw;
  height: 100vh;
}
.navbar {
  height: 20vh;
  width: 20vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.8rem;
}
.navbar .logo {
  width: 100%;
  height: 100%;
}
.navbar h1 {
  font-variant: small-caps;
  color: #009882;
  font-size: 2rem;
  padding-right: 0.1rem;
  font-weight: lighter;
}
.navbar .options {
  margin-left: 3px;
}

.navbar img {
  padding: 1rem;
  border-radius: 15%;
  width: 100%;
  height: 100%;
}
.article {
  width: 100vw;
  height: 50vh;
  display: flex;
  padding: 1rem;
}
.cardarticle {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  font-variant: small-caps;
}
.cardarticle .title {
  margin: 0.5rem;
  font-weight: lighter;
}
.cardarticle .img {
  flex-basis: 50%;
}
